/.SafetyDSLRuntimeModule.java._trace
/.SafetyDSLRuntimeModule.xtendbin
/.SafetyDSLStandaloneSetup.java._trace
/.SafetyDSLStandaloneSetup.xtendbin
/SafetyDSLRuntimeModule.java
/SafetyDSLStandaloneSetup.java
